
<footer id="footer" >
    <div class="footer-top" >
      <div class="container" >
        <div class="row" >
  
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Restaurantly</h3>
              
              <p><i class="bi bi-geo-alt"></i>
                Proxym, <br>
                Technopole-Sousse, 4051 <br><br>
                <strong>Phone:</strong><br> +33 1 85 08 05 45<br> +216 36 015 050<br>
                <strong>Email:</strong>  contact@proxym-group.com<br>
              </p>
              
            </div>
          </div>
  
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.proxym-group.com/" target="_blank">Web Site</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.youtube.com/channel/UC0yGMQdPpl564yHYEmo8CUQ" target="_blank">Youtube</a></li>
              <!--<li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>-->
            </ul>
          </div>
  
          <!--<div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>-->
  
         <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4></h4>
            <p></p>
            <img src="assets/img/logo2.png" class="img-fluid" alt="">
            <!--<form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>-->
  
          </div>
          
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">             
              <h3>Proxym</h3>
              <p><i class="bi bi-geo-alt"></i>
                Novation City:<br>
                Technopole-Sousse, 4051 <br><br>
                <strong>Phone:</strong><br> +33 1 85 08 05 45<br> +216 36 015 050<br>
                <strong>Email:</strong>  contact@proxym-group.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://www.linkedin.com/company/proxym/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>      
                <a href="https://www.facebook.com/proxym.digital.services.provider/" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
                <a href="https://twitter.com/ProxymGroup" class="twitter"><i class="bx bxl-twitter" target="_blank"></i></a>
              </div>
            </div>
          </div>


          
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Restaurantly</span></strong>. All Rights Reserved
      </div>
   
    </div>
  </footer><!-- End Footer -->