<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

<!--<div class="container" style="margin-top: 150px;margin-left: 20px;margin-bottom: 100px;">
  <form class="form-horizontal" role="form" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend><h1>Edit your profil's Infos:</h1></legend>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-holder-name">Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="name" id="name" placeholder="Enter the restaurant's Name" required [(ngModel)]="restau.name" #name="ngModel">
        </div>
      </div>
      <div [hidden]="name.valid || name.pristine">The restaurant's name is required </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="phoneNumber">Phone Number</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="Enter your phone number"required [(ngModel)]="restau.phoneNumber" #phoneNumber="ngModel">
        </div>
      </div>
      <div [hidden]="phoneNumber.valid || phoneNumber.pristine">The restaurant's phone number is required </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="email">Email</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="email" id="email" placeholder="Enter your email" [(ngModel)]="restau.email" #email="ngModel">
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-3 control-label" for="expiry-month">Delivery</label>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-xs-3">
              <select class="form-control col-sm-2" name="delivery" id="delivery" required [(ngModel)]="restau.delivery" #delivery="ngModel">
                
                <option value="yes" >yes</option>
                <option value="no">No</option>
               
              </select>
            </div>
            <!--
            <div class="col-xs-3">
              <select class="form-control" name="expiry-year">
                <option value="13">2013</option>
                <option value="14">2014</option>
              
              </select>
            </div>
          </div>
        </div>
      </div>
      <div [hidden]="delivery.valid || delivery.pristine">Please let us know if the delivery is on your charge </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="address">Address</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="address" id="address" placeholder="Enter your address" required [(ngModel)]="restau.address" #address="ngModel">
        </div>
      </div>
      <div [hidden]="address.valid || address.pristine">The restaurant's address is required </div>
      
      <div class="form-group">
        <div *ngIf="currentFileUpload" class="progress">         
          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:percentage+'%'}"> {{percentage}}%</div>
        </div>
        
        <label class="col-sm-3 control-label" for="image">Restaurant image</label>
        <div class="col-sm-3">
        <input type="file" (change)="selectFile($event)" class="form-control">
        </div>
      </div> 

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-success">submitt</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

-->





<div style="margin-top: 90px; margin-bottom: 150px;height: 50%;width: 50%;margin-left: 7%;">

  <h2 style="color: black;">Saisir les infos de votre profile</h2>
  <div style="margin-left: 5%;">
    <form (ngSubmit)="onSubmit()"> 
      <!-- First name -->   
      <div class="form-group">
        <label for="nom">Nom du restaurant</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter the restaurant's Name" required [(ngModel)]="restau.name" #name="ngModel">

      </div>

      <div [hidden]="name.valid || name.pristine">le nom du restaurant est obligatoire </div>

      <div class="form-group">
        <label for="nom">Adresse</label>
        <input type="text" class="form-control" name="address" id="address" placeholder="Enter your address" required [(ngModel)]="restau.address" #address="ngModel">

      </div>

      <div [hidden]="address.valid || address.pristine">l'adresse du restaurant est obligatoire</div>
      <!-- Last name -->
      <div class="form-group">
          <label for="composition">Phone Number</label>
          <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="Enter your phone number"required [(ngModel)]="restau.phoneNumber" #phoneNumber="ngModel">
          
      </div>  
      <div [hidden]=" phoneNumber.pristine || phoneError" style="color: red;margin-bottom: 20px;">le numero de téléphone est obligatoire et doit etre un nombre de 8 chiffres</div>
      
   
      <div class="form-group">
        <label for="composition">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email" [(ngModel)]="restau.email" #email="ngModel">
    </div>  
    <div [hidden]='emailError' style="color: red;margin-bottom: 20px;">l'email doit etre sous forme xxxx@xx.xx or xxxx@xxx.xxx</div>

    
  <div class="form-group">
    <label for="composition">Livraison</label>
    
          <select class="browser-default " name="delivery" id="delivery" required [(ngModel)]="restau.delivery" #delivery="ngModel">
            
         
           
            <option value="yes"  class="form-control" >oui</option>
            <option value="no" >non</option>


          </select>
 
    </div>
    <div [hidden]="deliveryError" style="color: red;margin-bottom: 20px;">indiquez si la livraison est toujours à votre charge ou non </div>
  
    <div class="form-group">
      <label for="composition">Prix livraison</label>
      <input type="number" class="form-control" name="price" id="price" placeholder="Si oui,entrez le prix de la livraison" [(ngModel)]="restau.price" #price="ngModel">
  </div> 
  <div [hidden]='priceError' style="color: red;margin-bottom: 20px;">Veuillez saisir le prix de livraison</div>
    <div class="form-group">
      <div *ngIf=" imgSrc!=undefined"><img src="{{imgSrc.ImageUrl}}" alt="No image found" style="height: 200px;width: 180px;"></div>
    <div *ngIf="currentFileUpload" class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:percentage+'%'}"> {{percentage}}%</div>
    </div>
    <label for="composition">Image du restau</label>
    
    <input type="file" (change)="selectFile($event)" class="form-control">
  </div>  


      <button type="submit" class="btn btn-success" style="margin-top: 50px;background-color: #cda45e;">Valider</button>
    </form>
  </div>


</div>