
  <!-- ======= Top Bar ======= -->


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente"  [ngStyle]="{'top':(isConnected=='true') ? '0px' : '40px' }">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
      
      <h1 class="logo me-auto me-lg-0"><a href="index.html">Restaurantly</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0" >
        <ul>
          <li><a class="nav-link scrollto active" href="#hero" *ngIf="isConnected=='false' || isConnected==null">Home</a></li>
          <li><a class="nav-link scrollto active" *ngIf="isConnected=='true'" (click)="showDash()">dashboard</a></li>
          <li><a class="nav-link scrollto" href="/home#about" *ngIf="isConnected=='false' || isConnected==null">About</a></li>
          <li><a class="nav-link scrollto" *ngIf="isConnected=='true' && (userConnectedRole =='admin' )" href="/addRestaurant-admin">new Restaurant</a></li>
          <li><a class="nav-link scrollto" *ngIf="isConnected=='true' && (userConnectedRole =='super' )" href="/addNewAdmin">Admins</a></li>
          <li><a class="nav-link scrollto" *ngIf="isConnected=='true' && (userConnectedRole =='super' )" href="/dashboard-admin">Orders</a></li>
          <li><a class="nav-link scrollto" *ngIf="isConnected=='true' && (userConnectedRole =='restau' )" href="/addNewDish">Nouveau plat</a></li>
          <li><a class="nav-link scrollto" *ngIf="isConnected=='true' && (userConnectedRole =='normal' )" href="/dashboard#yorder">Your Order</a></li>
          <li><a class="nav-link scrollto" *ngIf="isConnected=='true' && (userConnectedRole =='normal' )" href="/dashboard#delivery">Delivery-Volunteer</a></li>
          <li><a class="nav-link scrollto" *ngIf="isConnected=='true' && (userConnectedRole =='normal' )" href="/dashboard#feed">Feedback</a></li>
          <li><a class="nav-link scrollto" *ngIf="isConnected=='true' && (userConnectedRole =='restau' )" href="/editprofilRestau">Modifier infos</a></li>
          <li><a class="nav-link scrollto" href="/home#testimonials" *ngIf="isConnected=='false' || isConnected==null">Testimonials</a></li>
          
           <!--<li><a class="nav-link scrollto" href="#footer" >Contacts</a></li>
          
          
         <li><a class="nav-link scrollto" href="#gallery" *ngIf="isConnected=='false' || isConnected==null">Gallery</a></li>-->
         
       
       
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <!--<a (click)="signIn()" class="book-a-table-btn scrollto d-none d-lg-flex" *ngIf="isConnected=='false' || isConnected==null">sign in</a>-->
      <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
      <li class="dropdown" *ngIf="isConnected=='false' || isConnected==null" ><a href="#" class="book-a-table-btn scrollto d-none d-lg-flex" ><span style="margin-right: 30px;">Sign in</span> <!--<i class="bi bi-chevron-down"></i>--></a>
        <ul>
          
          <!--<li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
            <ul>
              <li><a href="#">Deep Drop Down 1</a></li>
              <li><a href="#">Deep Drop Down 2</a></li>
              <li><a href="#">Deep Drop Down 3</a></li>
              <li><a href="#">Deep Drop Down 4</a></li>
              <li><a href="#">Deep Drop Down 5</a></li>
            </ul>
          </li>-->
          <li><a href="/signInUser">Proxymian</a></li>
          <li><a href="/signInRestau">Restaurant</a></li>
          <li><a href="/signInAdmin">Admin</a></li>
          <li><a href="/signInAdmin">Super Admin</a></li>
          
        </ul>
      </li>
      </ul>
      </nav>
      <a  class="book-a-table-btn scrollto d-none d-lg-flex" (click)="signout()" *ngIf="isConnected=='true'" >sign out</a>
    </div>
    
  </header><!-- End Header -->
  <router-outlet></router-outlet>
  