
<section id="yorder" class="chefs" style="margin-top: 50px; ;" >
    <div class="container" data-aos="fade-up">
<div class="section-title">
        
        <p>Users</p>
        <h2>click to choose a volunteer for delivery</h2>
      </div>

              <div class="table-responsive">
              <table class="table">
                  <thead>
                      <tr class="nouveau">
                          <!--<th class="text-center">#</th>-->
                          <th>User Name</th>
                          <th>Phone number</th>
                          <th>Email</th>
                          <th></th>
                          
                      </tr>
                  </thead>
                  <tbody *ngIf="users!=[]">
                      <tr class="nouv" *ngFor="let user of users" >
                          <!--<td class="text-center">1</td>-->
                          <td>{{user.name}}</td>
                          <td>{{user.phone}}</td>
                          <td>
                            {{user.email}}
                          </td>                                             
                          <td class="td-actions text-right">
                              
                            <button type="button" class="btn btn-info btn-round" (click)=" volunteerForDelivery(user.name)"  >volunteered </button>                                                              
                        </td>
                         

                      </tr>      
                  </tbody>

                  <tbody *ngIf="users==[]">
                    <tr class="nouv" >
                        <!--<td class="text-center">1</td>-->
                        <td colspan="6" class="text-center">No users found</td>                       
                    </tr>
                </tbody>

              </table>
              
              </div>

            

          </div>
        </section>

