<section id="yorder" class="chefs" style="margin-top: 80px; ;margin-left: -200px;" >
    <div class="container" data-aos="fade-up">
<div class="section-title">
        <h2>commandes</h2>
        <p>Commandes d'aujourd'hui </p>
      </div>

              <div class="table-responsive">
              <table class="table">
                  <thead>
                      <tr class="nouveau">
                          <!--<th class="text-center">#</th>-->
                          <th>Nom du client</th>
                          <th>Téléphone</th>
                          <th>Plats</th>
                          <th class="text-right">Nombre de piéces</th>
                          <th>Notes</th>
                       
                          <th class="text-center">Prix unitaire</th>
                          <th class="text-right"></th>
                      </tr>
                  </thead>
                  <tbody *ngIf="orderStatus=='sent'">
                      <tr class="nouv" *ngFor="let order of orderList" >
                          <!--<td class="text-center">1</td>-->
                          <td>{{order.userName}}</td>
                          <td>{{order.userPhone}}</td>
                          <td>
                            {{order.name}}
                          </td>
                          <td class="text-right">{{order.nbr}}</td>
                          <td class="text-right">{{order.note}}</td>
                         
                          <td class="td-actions text-center">  {{order['price']}}   </td>
                          <td class="td-actions text-right">
                              
                            <button type="button" rel="tooltip" class="btn btn-success btn-just-icon btn-sm" data-original-title="" title=""  style="height: 30px;" (click)=" editOrderOfClient(order.client)" >
                                <i class="material-icons">edit</i>
                            </button>                                                                                  
                        </td>
                      </tr>      
                  </tbody>

                  <tbody *ngIf="orderStatus!='sent'">
                    <tr class="nouv" >
                        <!--<td class="text-center">1</td>-->
                        <td colspan="6" class="text-center">Pas de commandes pour l'instant</td>                       
                    </tr>
                </tbody>

              </table>
              <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="" style="width: 100px;height: 40px;margin-left: 20px;" (click)="setOrderStatus('on delivery')" [disabled]="orderStatus!='sent'" *ngIf="orderStatus=='sent'">en livraison</button>
              <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="" style="width: 100px;height: 40px;margin-left: 20px;" (click)="setOrderStatus('ready')" [disabled]="orderStatus!='sent'" *ngIf="orderStatus=='sent'"> prête</button>
              </div>

            

          </div>
        </section>


        <section id="yorder" class="chefs" style="margin-top: 80px; ;margin-left: -200px;" >
            <div class="container" data-aos="fade-up">
        <div class="section-title">
                <h2>commandes</h2>
                <p>Commandes En attente de livraison </p>
                <h2 style="color: rgb(17, 0, 255);margin-top: 20px;">Livreur:{{delivery}}</h2>
              </div>
        
                      <div class="table-responsive">
                      <table class="table">
                          <thead>
                              <tr class="nouveau">
                                  <!--<th class="text-center">#</th>-->
                                  <th>Nom du client</th>
                                  <th>Téléphone</th>
                                  <th>Plats</th>
                                  <th class="text-right">Nombre de piéces</th>
                           
                                  <th class="text-center">Prix unitaire</th>
                              </tr>
                          </thead>
                          <tbody *ngIf="orderStatus=='ready'">
                              <tr class="nouv" *ngFor="let order of orderList" >
                                  <!--<td class="text-center">1</td>-->
                                  <td>{{order.userName}}</td>
                                  <td>{{order.userPhone}}</td>
                                  <td>
                                    {{order.name}}
                                  </td>
                                  <td class="text-right">{{order.nbr}}</td>
                             
                                  <td class="td-actions text-center">  {{order['price']}}   </td>
                              </tr>      
                          </tbody>
        
                          <tbody *ngIf="orderStatus!='ready'">
                            <tr class="nouv" >
                                <!--<td class="text-center">1</td>-->
                                <td colspan="6" class="text-center">Pas de commandes pour l'instant</td>                       
                            </tr>
                        </tbody>
        
                      </table>
                      <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="" style="width: 100px;height: 40px;margin-left: 20px;" (click)="setOrderStatus('on delivery')"  *ngIf="orderStatus=='ready'">en livraison</button>
                     
                      </div>
        
                    
        
                  </div>
                </section>