<!-- ======= Menu Section ======= -->
<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up" style="margin-top: 80px; margin-bottom: 1000px;">

      <div class="section-title">
        <h2>Menu</h2>
        <p>Check Our Tasty Menu</p>
      </div>
      <div class="book-a-table" style="margin-left: 80%;"><div class="php-email-form"><button type="button"(click)="goToOrderValidationPage()" *ngIf="test=='false'">Total order</button></div></div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-starters">Starters</li>
            <li data-filter=".filter-salads">Salads</li>
            <li data-filter=".filter-specialty">Specialty</li>
          </ul>
        </div>
      </div>

      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
        <div *ngFor="let dish of menus " >
        <div class="col-lg-6 menu-item filter-starters"  *ngIf="dish['type']=='starter'">
          <img src="{{map.get(dish['name'])}} " class="menu-img" alt=""  >
          <div class="menu-content">
            <a href="#">{{dish['name']}}</a><span>{{dish['price']}}dt</span>
          </div>
          <div class="menu-ingredients">
            {{dish['composition']}}
          </div>
          <div class="menu-ingredients" style="margin-left: 120px;" *ngIf="test=='false'">
            <a (click)=" orderDish(dish['name'])" class="ord">==order==></a>
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty" *ngIf="dish['type']=='speciality'">
          <img src="{{map.get(dish['name'])}} " class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">{{dish['name']}}</a><span>{{dish['price']}}dt</span>
          </div>
          <div class="menu-ingredients">
            {{dish['composition']}}
          </div>
          <div class="menu-ingredients" style="margin-left: 120px;" *ngIf="test=='false'">
            <a (click)=" orderDish(dish['name'])" class="ord">==order==></a>
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads" *ngIf="dish['type']=='salad'">
          <img src="{{map.get(dish['name'])}} " class="menu-img" alt="">
          <div class="menu-content">
            <a >{{dish['name']}}</a><span>{{dish['price']}}dt</span>
          </div>
          <div class="menu-ingredients">
            {{dish['composition']}}
          </div>
          <div class="menu-ingredients" style="margin-left: 120px;" *ngIf="test=='false'" >
            <a (click)=" orderDish(dish['name'])" class="ord" >==order==></a>
          </div>
        </div>
        
      </div>
     
      </div>

    </div>
   
   
  </section>
  <!-- End Menu Section -->
  