

   <section id="chefs" class="chefs" style=" margin-left: -270px;margin-top: 120px;height: 0px;" >
    <div class="container" data-aos="fade-up">
<div class="section-title">
        <h2>Orders</h2>
        <p>Check total orders </p>
      </div>
      </div>
      </section>
    <section id="chefs" class="chefs" style=" margin-left: -200px;" *ngFor="let restauOrders of orders" >
        <div class="container" data-aos="fade-up">
   <div class="section-title">
            <h2 style="font-size:30px;font-style:italic;" >{{restauOrders.restauName}}</h2>
            <h2 style="margin-top: 20px;" >{{restauOrders.restauPhone}}</h2>
          </div>
    
                  <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr class="nouveau">
                              <!--<th class="text-center">#</th>-->
                              
                              <th>Client</th>
                              <th>Dishs</th>
                              <th>Status</th>
                              <th class="text-right">Salary</th>
                              <th class="text-right">Actions</th>
                              <th class="text-center">Notify</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr class="nouv"  *ngFor="let order of restauOrders.orders">
                              <!--<td class="text-center">1</td>-->
                            
                              <td>{{order.userName}}</td>
                              <td>{{order.orderList}}</td>
                              <td><strong  *ngIf="order.status=='not confirmed'" style="color: rgb(255, 0, 0);">{{order.status}}</strong>
                                <strong  *ngIf="order.status=='confirmed'" style="color: rgb(99, 224, 26);">{{order.status}}</strong>
                              
                              </td>
                              <td class="text-right">€ 99,225</td>
                              <td class="td-actions text-right">
                                  
                                  <button type="button" rel="tooltip" class="btn btn-success btn-just-icon btn-sm" data-original-title="" title=""  style="height: 30px;" *ngIf="order.status=='not confirmed'" >
                                      <i class="material-icons">edit</i>
                                  </button>
                                  
                                  <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="" style="height: 30px;" *ngIf="order.status=='not confirmed'" >
                                         <i class="material-icons">close</i>
                                  </button>
  
                                 
                                
                              </td>
                              <td class="td-actions text-center"  >
                                <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="" style="width: 70px;height: 40px;" *ngIf="order.status=='not confirmed'">
                                  notify
                                </button>                          
                                
                            </td>
                           
                          </tr>
                  
                    
                       
                    
                      </tbody>
                  </table>
                  <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="" style="width: 150px;height: 40px;margin-left: 20px;" (click)="sendOrder(restauOrders.idRestau)" [disabled]=" allAccepted(restauOrders.idRestau)" *ngIf="restauOrders.orderStatus !='sent'">send order</button>
                    <p *ngIf="restauOrders.orderStatus =='sent'" style="margin-left: 80%;font-style: oblique;font-size: large;color:rgb(0, 255, 34) ; ">Order Sent to the restaurant!</p>  
                </div>
  
                
  
              </div>
            </section>