

   <section id="chefs" class="chefs" style="margin-top: 50px;height: 0px;" >
    <div class="container" data-aos="fade-up">
<div class="section-title">
        <h2>Orders</h2>
        <p>Check total orders </p>
      </div>
      </div>
      </section>
    <section id="chefs" class="chefs" style=" margin-top: 0px;" *ngFor="let restauOrders of orders" >
        <div class="container" data-aos="fade-up">
   <div class="section-title">
            <h2 style="font-size:30px;font-style:italic;" >{{restauOrders.restauName}}</h2>
            <h2 style="margin-top: 20px;" >{{restauOrders.restauPhone}}</h2>
            <h2 style="margin-top: 20px;color: red;" >Delivery On: {{restauOrders.delivery}} <span *ngIf="restauOrders.delivery=='not restaurant'"> & no volunteer</span></h2>
            <small  *ngIf="restauOrders.delivery=='restaurant'">The prices in the table below doesn't include the delivery price.Please consider <strong  style="color: red;">{{restauOrders.deliveryPrice}} dt</strong>  for delivery</small>
          </div>
    
                  <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr class="nouveau">
                              <!--<th class="text-center">#</th>-->
                              
                              <th>Client</th>
                              <th>Dishs</th>
                              <th>Status</th>
                              <th class="text-right">Total(dt)</th>
                              <th class="text-right">Actions</th>
                             
                          </tr>
                      </thead>
                      <tbody><!--*ngIf="orderStatus!='on delivery' && orderStatus!='ready'">-->
                          <tr class="nouv"  *ngFor="let order of restauOrders.orders">
                              <!--<td class="text-center">1</td>-->
                            
                              <td>{{order.userName}}</td>
                              <td>{{order.orderList}}</td>
                              <td><strong  *ngIf="order.status=='not confirmed' && restauOrders.orderStatus==undefined" style="color: rgb(255, 0, 0);">{{order.status}}</strong>
                                <strong  *ngIf="order.status=='confirmed' && restauOrders.orderStatus==undefined" style="color: rgb(99, 224, 26);">{{order.status}}</strong>
                                <strong  *ngIf="restauOrders.orderStatus!=undefined" style="color: rgb(99, 224, 26);">{{restauOrders.orderStatus}}</strong>
                              </td>
                              <td class="text-right">{{order.total}}</td>
                              <td class="td-actions text-right">
                                  
                                  <button type="button" rel="tooltip" class="btn btn-success btn-just-icon btn-sm" data-original-title="" title=""  style="height: 30px;" *ngIf="restauOrders.orderStatus!='sent' && restauOrders.orderStatus!='on delivery' && restauOrders.orderStatus!='ready'" (click)=" editOrder(restauOrders.idRestau,order.idUser)">
                                      <i class="material-icons">edit</i>
                                  </button>
                                  
                                  <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="" style="height: 30px;" *ngIf="restauOrders.orderStatus!='sent' && restauOrders.orderStatus!='on delivery' && restauOrders.orderStatus!='ready'" (click)=" deleteOrderOfUser(restauOrders.idRestau,order.idUser)">
                                         <i class="material-icons">close</i>
                                  </button>
  
                                  <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="" style="width: 90px;height: 40px;margin-left: 20px;"  *ngIf="restauOrders.orderStatus =='on delivery'" (click)="setOrderAsDone( order.idUser,restauOrders.idRestau)" >delivered</button>
                                
                              </td>
                           
                           
                          </tr>
                  
                    
                       
                    
                      </tbody>
                  </table>
                  <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="" style="width: 150px;height: 40px;margin-left: 20px;" (click)="sendOrder(restauOrders.idRestau)" [disabled]=" allAccepted(restauOrders.idRestau) || (restauOrders.delivery=='not restaurant')" *ngIf="(restauOrders.orderStatus !='sent') && (restauOrders.orderStatus !='on delivery') && (restauOrders.orderStatus !='ready')">send order</button>
                  <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="" style="width: 150px;height: 40px;margin-left: 20px;"   *ngIf="restauOrders.orderStatus !='sent' && restauOrders.delivery=='not restaurant' " (click)="  goToVolunteeringPage(restauOrders.idRestau)">Delivery-volunteer</button>
                    <p *ngIf="restauOrders.orderStatus =='sent'" style="margin-left: 80%;font-style: oblique;font-size: large;color:rgb(0, 255, 34) ; ">Order Sent to the restaurant!</p>  
                </div>
  
                
  
              </div>
            </section>

            <section id="chefs" class="chefs" style=" margin-top: 10px;height: 0px;margin-bottom: 20%;" *ngIf="orders.length==0">
              <div class="container" data-aos="fade-up">
          <div class="section-title">
                  <h2 class="text-center"style="color: red;">No orders found for today !! check this page later</h2>
                  
                </div>
                </div>
                </section>