  
<div style="margin-top: 180px; margin-bottom: 150px;width: 50%; margin-left: 50px;">

    <h2 style="color: black;">Give us honestly your feedback about this restaurant and its food</h2>
    <div>
      <form (ngSubmit)="onSubmitt()">
        <!-- First name -->   
        <div class="form-group">
          <label for="nom">Feedback</label>
          <input type="text" class="form-control" placeholder="Entre your feedback of the restaurant" #feed="ngModel" id="feed" required [(ngModel)]="order.feed" name="feed" >
        </div>
        <div [hidden]="feed.valid || feed.pristine">The feed is required </div>
      
      
   
     
  

        <button type="submit" class="btn btn-success" style="margin-top: 50px;">Submit</button>
      </form>
    </div>


 </div>

