

    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs" style="margin-top: 80px; ;margin-left: -200px;" >
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>restaurants</h2>
          <p>Check Our restaurants</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" *ngFor="let restau of restausList" style="width: 300px;height:250px;">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <img src="{{map.get(restau['name'])}} " class="img-fluid" alt="" style="width: 300px;height:250px;">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>{{restau.name}}</h4>
                  <span>{{restau.address}}</span>
                </div>
                <div class="social">
                  <a (click)=" goToMenu(restau.key)">==Menu==></a>
                  
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Chefs Section -->

    <section id="yorder" class="chefs" style="margin-top: 0px; margin-bottom: 150px;margin-left: -200px;" >
      <div class="container" data-aos="fade-up">
 <div class="section-title">
          <h2>Orders</h2>
          <p>Check Your orders </p>
        </div>
  
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="nouveau">
                            <!--<th class="text-center">#</th>-->
                            <th>Restaurant Name</th>
                            <th>Dishs</th>
                            <th>Status</th>
                            <th class="text-right">Total</th>
                            <th class="text-right">Actions</th>
                            <th class="text-center">Delivery</th>
                        </tr>
                    </thead>
                    <tbody  *ngIf="orders.length!=0">
                        <tr class="nouv" *ngFor="let order of orders">
                            <!--<td class="text-center">1</td>-->
                            <td>{{order.restauName}}</td>
                            <td>{{order.orderList}}</td>
                            <td><strong  *ngIf="order.status=='not confirmed'" style="color: rgb(255, 0, 0);">{{order.status}}</strong>
                              <strong  *ngIf="order.status!='not confirmed'" style="color: rgb(99, 224, 26);">{{order.status}}</strong>
                            
                            </td>
                            <td class="text-right"> {{order.total}} </td>
                            <td class="td-actions text-right">
                                
                                <button type="button" rel="tooltip" class="btn btn-success btn-just-icon btn-sm" data-original-title="" title=""  style="height: 30px;" *ngIf="order.status=='not confirmed'" (click)=" editOrder(order.idRestau)">
                                    <i class="material-icons">edit</i>
                                </button>
                                
                                <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="" style="height: 30px;" *ngIf="order.status=='not confirmed'" (click)="cancelOrder(order.idRestau)">
                                       <i class="material-icons">close</i>
                                </button>

                               
                              
                            </td>
                            <td class="td-actions text-center">
                              <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="" style="width: 70px;height: 40px;" (click)="setOrderAsDone(order.idRestau)" [disabled]="order.orderStatus!='on delivery'">
                                done
                              </button>                          
                              
                          </td>
                        </tr>
                
                  
                     
                  
                    </tbody>
                    <tbody *ngIf="orders.length==0">
                      <tr class="nouv" >
                          <!--<td class="text-center">1</td>-->
                          <td colspan="6" class="text-center">No orders found</td>                       
                      </tr>
                  </tbody>
                </table>
                </div>

              

            </div>
          </section>
<!--finished orders-->
          <section id="feed" class="chefs" style="margin-top: -150px; margin-bottom: 0px;margin-left: -200px;" >
            <div class="container" data-aos="fade-up">
       <div class="section-title">
                <h2>Orders</h2>
                <p>Check Your previous orders </p>
              </div>
        
                      <div class="table-responsive">
                      <table class="table">
                          <thead>
                              <tr class="nouveau">
                                  <!--<th class="text-center">#</th>-->
                                  <th>Restaurant Name</th>
                                  <th>Dishs</th>
                                  <th>Status</th>
                                  <th class="text-right">Total(dt)</th>
                               
                                  <th class="text-center">Give your feedback</th>
                              </tr>
                          </thead>
                          <tbody *ngIf="finishedOrders.length!=0">
                              <tr class="nouv" *ngFor="let order of finishedOrders">
                                  <!--<td class="text-center">1</td>-->
                                  <td style="font-size:large;">{{order.restauName}}</td>
                                  <td>{{order.orders}}</td>
                                  <td>
                                    <strong  *ngIf="order.status=='done'" style="color: rgb(99, 224, 26);">{{order.status}}</strong>
                                  
                                  </td>
                                  <td class="text-right">{{order.total}}</td>
                          
                                  <td class="td-actions text-center">
                                               <p *ngIf="order.feedback !=null" style="font-size:large;">{{order.feedback}}</p>             
                                    <button *ngIf="order.feedback ==null" type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="" style="width: 70px;height: 40px;" (click)="giveFeedback(order.idRestau,order.key)">
                                      Feedback
                                    </button>
                                </td>
                              </tr>
                      
                        
                           
                        
                          </tbody>
                          <tbody *ngIf="finishedOrders.length==0">
                            <tr class="nouv" >
                                <!--<td class="text-center">1</td>-->
                                <td colspan="5" class="text-center">No orders found</td>                       
                            </tr>
                        </tbody>
                      </table>
                      </div>
      
                    
      
                  </div>
                </section>

          <section id="delivery" class="chefs" style="margin-top: 0px; margin-bottom: 0px;margin-left: -200px;" >
            <div class="container" data-aos="fade-up">
       <div class="section-title">
                <h2>Orders in general</h2>
                <p>Volunteer to deliver the order from Restaurant </p>
              </div>
        
                      <div class="table-responsive">
                      <table class="table">
                          <thead>
                              <tr class="nouveau">
                                  <!--<th class="text-center">#</th>-->
                                  <th>Restaurant Name</th>
                                  <th>Address</th>
                                  <th>Phone number</th>
                                  <th class="text-right">Total Order</th>
                          
                                  <th class="text-center">Volunteer for delivery if possible</th>
                              </tr>
                          </thead>
                          <tbody *ngIf="toDeliverOrders.length!=0">
                              <tr class="nouv" *ngFor="let order of  toDeliverOrders">
                                  <!--<td class="text-center">1</td>-->
                                  <td>{{order.restauName}}</td>
                                  <td>{{order.restauAddress}}</td>
                                  <td>{{order.restauPhone}}</td>
                                  <td class="text-right"><p *ngFor="let o of order.orders">{{o.userName}}: {{o.orderList}}</p></td>
                               
                                  <td class="td-actions text-center">                                   
                                    <button type="button" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" data-original-title="" title="" style="width: 70px;height: 40px;" (click)="volunteerForDelivery(order.idRestau)" [disabled]="order.orderDelivery !='restaurant' && order.orderDelivery !='not restaurant'">
                                      volunteer
                                    </button>
                                </td>
                              </tr>
                      
                        
                           
                        
                          </tbody>
                          <tbody *ngIf="toDeliverOrders.length==0">
                            <tr class="nouv" >
                                <!--<td class="text-center">1</td>-->
                                <td colspan="6" class="text-center">No orders found</td>                       
                            </tr>
                        </tbody>
                      </table>
                      </div>
      
                    
      
                  </div>
                </section>
      