 <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container row" style="margin-top: 150px;">
	<div class='sidenav col-3' id='navBar'>
	    <div class='list-group'>
	        <div href='#' class='list-group-item active list-group-item-action' data-toggle="list" role="tab">Overview</div>
	        <div href='#' class='list-group-item list-group-item-action' data-toggle="list" role="tab">Submissions</div>
	        <div href='#' class='list-group-item list-group-item-action' data-toggle="list" role="tab">Screened</div>
	        <div href='#' class='list-group-item list-group-item-action' data-toggle="list" role="tab">In-Progress</div>
	        <div href='#' class='list-group-item list-group-item-action' data-toggle="list" role="tab">Completed</div>
	    </div>
	</div>
	<div class='col-9' id='main'>
		<div class='card-deck'>
	        <div class='card' id='ifom-card'>
	            <div class='card-header d-flex justify-content-center' id='ifom-card-header'>
	                <h5>IFOM</h5>
	            </div>
	            <div class='card-body d-flex justify-content-center' id='ifom-card-body'>
	                
                    



                    
	            </div>
	        </div>
	        <div class='card' id='proj-card'>
	            <div class='card-header d-flex justify-content-center' id='proj-card-header'>
	                <h5>Projects</h5>
	            </div>
	            <div class="card-body d-flex justify-content-center" id='proj-card-body'>
	                  




	            </div>
	        </div>
	        <div class='card' id='stats-card'>
	            <div class='card-header d-flex justify-content-center' id='stats-card-header'>
	                <h5>Command Stats</h5>
	            </div>
	            <div class="card-body d-flex justify-content-center" id='stats-card-body'>
	               






	            </div>
	        </div>
	    </div>

	    <div class='row p-1'>
	        <div class='col'>
	            <div class='card' id='tab-card'>
        	        <div class='card-header' id='tab-card-header'>
        	            <h5>Project Status</h5>
        	        </div>
        	        <div class='card-body' id='tab-card-header'>
        	            <div id='table'></div>
        	        </div>
        	    </div>
	        </div>
    	</div>
        
	</div>
</div>

<div class="modal fade" id="status-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id='status-modal-content'>
      <div class="modal-header d-flex justify-content-center" id='status-modal-header'>
      </div>
      <div class="modal-body" id='status-modal-body'>
      </div>
      <div class="modal-footer" id='status-modal-footer'>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id='status-modal-close'>Close</button>
      </div>
    </div>
  </div>
</div>

<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="https://www.freepnglogos.com/uploads/notebook-png/download-laptop-notebook-png-image-png-image-pngimg-2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">ASUS Rog</span> <span class="float-end price-hp">12354.00€</span> </div>
                        <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
           
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="https://www.freepnglogos.com/uploads/notebook-png/notebook-laptop-png-images-you-can-download-mashtrelo-14.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">12354.00€</span> <span class="float-end"><a href="#">Example</a></span> </div>
                        <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="https://www.freepnglogos.com/uploads/notebook-png/download-laptop-notebook-png-image-png-image-pngimg-2.png" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Asus Rog</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">12354.00€</span> <span class="float-end"><a href="#" class="small text-muted">Reviews</a></span> </div>
                        <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="https://www.freepnglogos.com/uploads/notebook-png/notebook-laptop-png-images-you-can-download-mashtrelo-14.png" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">DELL</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start price-hp">12354.00€</span> <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span> </div>
                        <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</main>

-->
 <!-- ======= Why Us Section ======= -->
 <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up" >

      <div class="section-title" >
        <h2>Why Us</h2>
        <p style="color: black;">Why Choose Our Restaurant</p>
      </div>

      <div class="row" >

        <div class="col-lg-4" >
          <div class="box" data-aos="zoom-in" data-aos-delay="100"style="background-color: black;">
            <span>01</span>
            <h4>Lorem Ipsum</h4>
            <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <span>02</span>
            <h4>Repellat Nihil</h4>
            <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="300">
            <span>03</span>
            <h4> Ad ad velit qui</h4>
            <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Why Us Section -->